{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

  {% if form.errors %}
  <div class="container-fluid">
  <div class="row alert-row">
    <div class="col-md-10 col-lg-8 mx-auto mt-4">
      <div class="alert alert-danger alert-dismissible fade show shadow-lg shadow-primary" id="form-msg" role="alert">
        <div class="container">
          <div class="row p-2 p-md-0">
            <div class="col-md-1">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
                <use xlink:href="#exclamation-triangle-fill" />
              </svg>
            </div>
            <div class="col-md-10">
              {{ form.non_field_errors }}
            </div>
            <div class="col-md-1">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    {% endif %}


<div class="form-background shadow">
  <div class="container-fluid form-section">
    <div class="row p-2 p-md-0">
      <div
        class="col-xl-6 mx-auto mt-0 mt-md-5 col-md-8 shadow pt-3 pt-md-4 px-1 custom-container rounded">
                    <div class="container-fluid mx-auto mb-4">
                <div class="row">
                    <div class="col-2 p-0 my-auto">
                        <button title="Go Back" class="go-back-btn shadow" ><i class="fa-solid fa-circle-left"></i><span>Go Back</span></button>
                    </div>
                    <div class="p-0 col-9 my-auto form-title">
                        <h2>Sign In</h2>
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="col-11 mx-auto">
              <p>Welcome to the emissions monitoring tool, the one stop shop for monitoring, verifying and recording
                your facilities emissions. </p>
            </div>
            <div class="col-11 mx-auto">
              <p>{% blocktrans %}
                If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            </div>
          </div>
          <form action="{% url 'account_login' %}" method='POST' id="close-out-form">
              {% csrf_token %}
              {% for field in form %}
              <div class="row">
                <div class="col-10 offset-1 col-md-3 offset-md-2 mb-3">{{ field.label_tag }} </div>
                <div class="col-10 offset-1 col-md-5 mb-3">{{ field }} </div>
              </div>
              {% endfor %}
              <div class="row">
                <div class="col-md-6 mx-auto  my-3 px-4 form-button-row">
                  <button type="submit" class="btn btn-white-back-red-font shadow" value="Close">{% trans "Log In" %}<i class="fa-solid fa-arrow-right-to-bracket"></i></button>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>
</div>

{% endblock content %}