{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

  {% if form.errors %}
  <div class="container-fluid">
  <div class="row alert-row">
    <div class="col-md-10 col-lg-8 mx-auto mt-4">
      <div class="alert alert-danger alert-dismissible fade show shadow-lg shadow-primary" id="form-msg" role="alert">
        <div class="container">
          <div class="row p-2 p-md-0">
            <div class="col-md-1">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
                <use xlink:href="#exclamation-triangle-fill" />
              </svg>
            </div>
            <div class="col-md-10">
              <!-- loop through fields in form to access errors, discarding fields that are None to stop blank lines being
              displayed on the alert. -->
              {% for field in form%}
                {% if field != None%}
                {{field.errors}}
                {% endif %}
              {% endfor %}
            </div>
            <div class="col-md-1">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    {% endif %}
<div class="form-background shadow">
  <div class="container-fluid form-section">
    <div class="row p-2 p-md-0">
      <div
      class="col-xl-6 mx-auto mt-0 mt-md-5 col-md-8 shadow pt-3 pt-md-4 px-1 custom-container rounded">
      <div class="container-fluid mx-auto mb-4">
        <div class="row">
            <div class="col-2 p-0 my-auto">
                <button title="Go Back" class="go-back-btn shadow" onclick="goBack()"><i class="fa-solid fa-circle-left"></i><span>Go Back</span></button>
            </div>
            <div class="p-0 col-9 my-auto form-title">
                <h2>Sign Up</h2>
            </div>
        </div>
    </div>
          <div class="row">
            <div class="col-11 mx-auto">
              <p>Welcome to the emissions monitoring tool, the one stop shop for monitoring, verifying and recording
                your facilities emissions. </p>
            </div>
            <div class="col-11 mx-auto">
              <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            </div>
          </div>
          <form class="login" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <!-- customisation of django form to style elements:
            https://stackoverflow.com/questions/7769805/editing-django-form-as-p
           -->
            {% for field in form %}
            <div class="row">
              <div class="col-10 offset-1 col-md-3 offset-md-2 mb-3">{{ field.label_tag }} </div>
              <div class="col-10 offset-1 col-md-5 mb-3">{{ field }} </div>
    
            </div>
            <div class="row">
              {% if field.help_text %}
              <div class="col-11 mx-auto">
                {{ field.help_text|safe }}
              </div>
            {% endif %}
            </div>
            {% endfor %}
            <div class="row">
              <div class="col-md-6 mx-auto  my-3 px-4 form-button-row">
                <button class="btn btn-white-back-red-font shadow" type="submit">{% trans "Register" %}<i class="fa-solid fa-user-plus"></i></button>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>
</div>
{% endblock content %}