body {
    background-color: #fafafa;
    font-family: 'Mate', serif;
}

.navbar {
    /* Overwrite navbar background colour. */
    font-family: 'Josefin Sans', sans-serif;
    background-color: #dc3123;
}

.navitem-text{
    font-weight: 300;
    font-size: 1.2rem;
}

.navbar-brand {
/*  clamping fontsize for better responsive styling:display:
    https://developer.mozilla.org/en-US/docs/Web/CSS/clamp  */
    font-size: clamp(20px, 4vw, 30px);
    font-weight: 700;
}

.dropdown-menu {
    background-color: #fafafa;
}

.navbar-toggler-icon {
    width: 4.5vw;
    height: 4vw;
}

/* Styling for max screen size */
@media (max-width: 768px) {
    #logo {
        width: 25px;
        height: 20px;
    }
    
    #nav-container {
        flex-wrap: nowrap;
    }
}