body {
    background-color: #fafafa;
    font-family: 'Mate', serif;
}

.navbar {
    /* Overwrite navbar background colour. */
    font-family: 'Josefin Sans', sans-serif;
    background-color: #dc3123;
    text-align: center;
}

.navitem-text{
    font-weight: 300;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.navbar-brand {
    font-size: 2rem;
    letter-spacing: 0.2em;
}

#slogan {
    font-family: 'Mate', serif;
    font-size: 15px;
    letter-spacing: 0.5em;
    text-align: center;
}

.dropdown-menu {
    background-color: #fafafa;
}

.navbar-toggler-icon {
    width: 4.5vw;
    height: 4vw;
}

/* target tablet screen size */
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    #slogan {
        font-size: 0.6rem;
        letter-spacing: 0.55em;
    }
    #logo {
        width: 27.5px;
        height: 32px;
    }
}
/* target mobile screen size */
@media (max-width: 480px) {
    .navbar-brand {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    #slogan {
        font-size: 0.45rem;
        letter-spacing: 0.55em;
    }
    #logo {
        width: 25px;
        height: 30px;
    }
}