body {
    background-color: #fafafa;
    font-family: 'Mate', serif;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #dc3123;
}

.navitem-text{
    font-weight: 300;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 700;
}

.dropdown-menu {
    background-color: #fafafa;
}

