{% extends "base.html" %}

{% block content %}

<div class="form-background shadow">
    <div class="container-fluid form-section">
      <div class="row p-2 p-md-0">
        <div
          class="col-xl-8 offset-xl-2 mt-0 mt-md-5 col-md-10 offset-md-1 shadow pt-3 pt-md-5 px-1 custom-container rounded">
          <div class="container">
            <div class="row">
              <div class="p-0 p-md-2 col-md-5 mb-4 offset-md-1 mx-auto">
                        <h2>Add Emission</h2>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <p id="sign-in-icon"><i class="fa-solid fa-circle-plus"></i></p>
                    </div>
                </div>
            </div>
            <form action="" method='POST' enctype="multipart/form-data" id="close-out-form">
                <div class="container-fluid">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-md-3 offset-md-1 mb-3">{{ field.label_tag }} </div>
                    <div class="col-md-7 mb-3">{{ field }} </div>
                </div>
                {% endfor %}
                <div class="col-md-4 offset-md-4 my-3">
                <button type="submit" class="btn btn-custom shadow" value="Upload" >Create Emission</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock%}