{% extends "base.html" %}

{% block content %}

<div class="container form-section">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 mt-4 col-md-10 offset-md-1 shadow pt-5 px-1 custom-container rounded">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mb-4 offset-md-1 mx-auto">
                        <h2>Close Emission</h2>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <p id="sign-in-icon"><i class="fa-solid fa-flag-checkered"></i></p>
                    </div>
                </div>
            </div>
            <form action="" method='POST' id="close-out-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-md-3 offset-md-1 mb-3">{{ field.label_tag }} </div>
                    <div class="col-md-7 mb-3 p-0">{{ field }} </div>
                </div>
                {% endfor %}
                <div class="col-md-4 offset-md-4 my-3">
                <button type="submit" class="btn btn-custom shadow" value="Close" onclick="confirmAction(event, {{form.field.title}})" >Close Emission</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock%}