{% extends "base.html" %}
<!-- Accessing data from foreign key per solution in stack overflow:
https://stackoverflow.com/questions/58205608/how-to-access-foreign-key-tables-data-in-django-templates
 -->

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="md-10 mx-auto">
            <div class="table-responsive table-fixed-head shadow">
            <table class="table-hover emissions-table">
                <thead>
                <tr>
                    <th>
                        <h5>Emission</h5>
                    </th>
                    <th>
                        <h5>Comments</h5>
                    </th>
                    <th>
                        <h5>Check Status</h5>
                    </th>
                    <th>
                        <h5>Checked By</h5>
                    </th>
                    <th>
                        <h5>Date Checked</h5>
                    </th>
                    <th>
                        <h5>Options</h5>
                    </th>
                </tr>
                </thead>
                
                {% for check in emissioncheck_list %}
                <tr>
                    <td>
                        <div class="image-container">
                            <img src="{{check.title.emission_image.url}}" alt="Image of emission {{check.title}}" width="120px">
                            <div class="overlay-text">
                                {{check.title}}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{check.comments}}
                    </td>
                    <td>
                        {{check.calculate_status}}
                    </td>
                    <td>
                        {{check.checked_by}}
                    </td>
                    <td>
                        {{check.date_checked}}
                    </td>
                    <td>
                       
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
</div>
{% endblock%}