{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-md-3">
    <div class="row">
        <div class="col-12 col-md-10 mt-1 mt-md-3 mx-auto">
            <div id="map" class="shadow"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-10 p-md-3 mx-auto mt-1 mt-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-container shadow">
                        <table id="emission-detail-table">
                            <tr>
                                <thead id="emission-detail-table-title">
                                    <th colspan="5">
                                        <h5>{{title}}</h5>
                                    </th>
                                </thead>
                            </tr>
                            <tr>
                                <td rowspan="4" colspan="2">
                                    <img src="{{image_url}}" alt="Image of emission {{title}}" width="100%" height="100%"
                                    id="emission-detail-img">
                                </td>
                                    <th>
                                        <h5>Location</h5>
                                    </th>
                                    <th>
                                        <h5>Type</h5>
                                    </th>
                                    <th class="hidden-col">
                                        <h5>Date Created</h5>
                                    </th>
                                
                            </tr>
                            <tr>
                           
                                <td>
                                    <p>{{location}}</p>
                                </td>
                                <td>
                                    <p>{{type}}</p>
                                </td>
                                <td class="hidden-col">
                                    <p>{{created_on | date:'M. d Y'}}</p>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="3">
                                    <h5>Description</h5>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p>{{description}}</p>
                                </td>
                            </tr>
                            {% if status == 'Open' %}
                            <tr>
                                <th>
                                    <h5>Status</h5>
                                </th>
                                <th>
                                    <h5>Check Status</h5>
                                </th>
                                <th>
                                    <h5>Last Checked</h5>
                                </th>
                                <th>
                                    <h5>Current Check Due</h5>
                                </th>
                                <th class="hidden-col">
                                    <h5>Next Check Due</h5>
                                </th>
                            </tr>
                            <tr>
                                <td id="status-cell" class="bg-gradient">
                                    <p>{{status}}</p>
                                </td>
                                <td>
                                    <p class="check_status emission-detail-check_status">{{check_complete}}</p>
                                </td>
                                <td>
                                    <p>{{last_checked | date:'M. d Y'}}</p>
                                </td>
                                <td>
                                    <p>{{current_check | date:'M. d Y'}}</p>
                                </td>
                                <td class="hidden-col">
                                    <p>{{next_check | date:'M. d Y'}}</p>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <th>
                                    <h5>Status</h5>
                                </th>
                                <th  colspan="2">
                                    <h5>Close Out Comments</h5>
                                </th>
                                <th>
                                    <h5>Closed By</h5>
                                </th>
                                <th>
                                    <h5>Close Out Date</h5>
                                </th>
                            </tr>
                            <tr>
                                <td id="status-cell" class="bg-gradient">
                                    <p>{{status}}</p>
                                </td>
                                <td colspan="2">
                                    <p>{{close_out_comments}}</p>
                                </td>
                                <td>
                                    <p>{{closed_by}}</p>
                                </td>
                                <td>
                                    <p>{{close_out_date | date:'M. d Y'}}</p>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="row gx-3 mt-md-3">
                <div class="col-3 mt-3 mx-auto">
                    <button class="btn go-back btn-red-back-white-font shadow" onclick="goBack()"><i
                            class="fa-solid fa-left-long"></i>
                        <p>Go Back</p>
                    </button>
                </div>
                <!-- 
                    Use user permissions to style close and delete buttons by applying different classes 
                as required. Solution for accessing permissions from stack overflow:
                https://stackoverflow.com/questions/9469590/check-permission-inside-a-template-in-django
                 -->
                {% if status == 'Closed' %}
                <div class="col-3 mt-3 mx-auto">
                    <a href="#" onclick="buttonDisabled(event, true);" class="btn btn-unavailable shadow">Close
                        Emission</a>
                </div>
                {% elif perms.monitoring_tool.change_emission %}
                <div class="col-3 mt-3 mx-auto">
                    <a href="{% url 'close-emission' slug%}" class="btn btn-white-back-red-font shadow">Close
                        Emission</a>
                </div>
                {% else %}
                <div class="col-3 mt-3 mx-auto">
                    <a href="#" onclick="buttonDisabled(event, false);" class="btn btn-unavailable shadow">Close
                        Emission</a>
                </div>
                {% endif %}
                {% if perms.monitoring_tool.delete_emissioncheck %}
                <div class="col-3 mt-3 mx-auto">
                    <a href="{% url 'delete-emission' slug%}" class="btn btn-white-back-red-font shadow"
                        onclick="confirmAction(event, false)">Delete Emission</a>
                </div>
                {% else %}
                <div class="col-3 mt-3 mx-auto">
                    <a href="#" class="btn btn-unavailable shadow" aria-disabled="true"
                        onclick="buttonDisabled(event, false);">Delete Emission</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- solution to passing variables into JS:
https://stackoverflow.com/questions/68394094/how-top-pass-data-to-javascript-in-django
Found link indicating initial method may be insecure, solution to this below:
https://www.django-antipatterns.com/antipattern/rendering-into-javascript.html
 -->
 {{ latitude|json_script:"latitudeJson" }}
 {{ longitude|json_script:"longitudeJson" }}
 {{ title|json_script:"titleJson" }}
 {{ image_url|json_script:"imageUrlJson" }}

    
{% endblock %}