{% extends "base.html" %}
<!-- Accessing data from foreign key per solution in stack overflow:
https://stackoverflow.com/questions/58205608/how-to-access-foreign-key-tables-data-in-django-templates
 -->

{% block content %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-10 mx-auto">
                    <div id="filter-container">
                        <input type="text" id="emissionCheckSearch" onkeyup="filterChecks()" placeholder="Search by emission or username" title="Type in an emission">
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="md-10 mx-auto">
            <div class="table-responsive table-fixed-head shadow">
                <table class="table-hover emissions-table" id="emissionChecksTable">
                    <thead>
                        <tr class="header">
                            <th>
                                Emission
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                Check Status
                            </th>
                            <th>
                                Checked By
                            </th>
                            <th>
                                Date Checked
                            </th>
                            <th>
                                Options
                            </th>
                        </tr>
                    </thead>
                        {% for check in emissioncheck_list %}
                        <tr>
                            <td class="table-img-td">
                                <div class="image-container">
                                    <img src="{{check.title.emission_image.url}}"
                                        alt="Image of emission {{check.title}}" width="120px">
                                    <div class="overlay-text">
                                        {{check.title}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{check.comments}}
                            </td>
                            <td>
                                {{check.calculate_status}}
                            </td>
                            <td class="checked-by">
                                {{check.checked_by}}
                            </td>
                            <td>
                                {{check.date_checked}}
                            </td>
                            <td>
                                    <div class="btn-row">
                                        <!-- how to enable text on element hover:
                                        https://stackoverflow.com/questions/11022843/add-hover-text-without-javascript-like-we-hover-on-a-users-reputation
                                        -->
                                        <div>
                                            <a title="Add a New Emission Check for {{check.title}}" href="" class="btn btn-icon-grey-small"><i class="fa-solid fa-circle-plus btn-icon-grey-small"></i></a>
                                        </div>
                                        <div>
                                            <a title="Edit this Emission Check" href="" class="btn btn-icon-grey-small"><i class="fa-solid fa-pen-to-square btn-icon-grey-small"></i></a>
                                        </div>
                                        <div>
                                            <a title="Delete this Emission Check" href="" class="btn btn-icon-red-small"><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endfor %}
                    
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}