{% extends "base.html" %}
<!-- Accessing data from foreign key per solution in stack overflow:
https://stackoverflow.com/questions/58205608/how-to-access-foreign-key-tables-data-in-django-templates
 -->

{% block content %}
<section>
<div class="container-fluid mb-5">
    <div class="row mt-3">
        <div class="col-md-8 mx-auto">
                    <div id="filter-container">
                        <input type="text" id="emission-check-search" onkeyup="filterChecks()" placeholder="Search by emission or username" title="Type in an emission">
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="table-responsive table-fixed-head shadow">
                <table class="table table-hover emissions-table" id="emission-checks-table">
                    <thead>
                        <tr class="header">
                            <th>
                                Emission
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                                Check Status
                            </th>
                            <th class="hidden-col">
                                Checked By
                            </th>
                            <th>
                                Date Checked
                            </th>
                            <th>
                                Options
                            </th>
                            <th>
                                Emission Status
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                    <label id="column-filter"class="form-check-label" for="flexSwitchCheckChecked">Showing Open Emissions</label>
                                  </div>
                            </th>
                        </tr>
                    </thead>
                        {% for check in emissioncheck_list %}
                        {% if check.title.calculate_status == "Closed" %}
                        <!-- check if the emission is closed and assign class to allow for filtering from JS function -->
                        <tr onclick="emissionModal('{{check.javascript_data|escapejs}}', 'emission-check', '{{check.id}}', '{{user.username}}', '{{user.is_superuser}}')" class="closed-row">
                        {% else %} 
                        <tr onclick="emissionModal('{{check.javascript_data|escapejs}}', 'emission-check', '{{check.id}}', '{{user.username}}', '{{user.is_superuser}}')">
                        {% endif %}
                            <td class="table-img-td">
                                    <img src="{{check.title.emission_image.url}}"
                                        alt="Image of emission {{check.title}}" class="emissions-img">
                                    <div class="overlay-text">
                                        {{check.title}}
                                    </div>
                            
                            </td>
                            <td>
                                {{check.comments}}
                            </td>
                            <td>
                                {{check.calculate_status}}
                            </td>
                            <td class="checked-by hidden-col">
                                {{check.checked_by}}
                            </td>
                            <td>
                                {{check.date_checked}}
                            </td>
                            <td>
                                    <div class="btn-row mx-auto">
                                        <!-- how to enable text on element hover:
                                        https://stackoverflow.com/questions/11022843/add-hover-text-without-javascript-like-we-hover-on-a-users-reputation
                                        -->
                                        <div>
                                            <a title="Add a New Emission Check for {{check.title}}" href="{% url 'add-check' check.title.slug%}" class="btn btn-icon-grey-small"><i class="fa-solid fa-circle-plus btn-icon-grey-small"></i></a>
                                        </div>
                                        <!-- logic to asecrtain if the check is less than 24 hours AND the original check submitted but current user
                                        OR user is a superuser -->
                                        {% if check.check_less_than_24_hours and check.checked_by == user or user.is_superuser  %}
                                        <div>
                                            <a title="Edit this Emission Check" href="{% url 'edit-check' check.title.slug check.id%}" class="btn btn-icon-grey-small"><i class="fa-solid fa-pen-to-square btn-icon-grey-small"></i></a>
                                        </div>
                                        {% elif not check.check_less_than_24_hours and check.checked_by == user %}
                                        <div>
                                            <a title="You can only edit a check for up to 24 hours after submission" href="#" class="btn btn-unavailable-small"><i class="fa-solid fa-pen-to-square" onclick="buttonDisabled(event, false)"></i></a>
                                        </div>
                                        {% endif %}
                                        {% if perms.monitoring_tool.delete_emissioncheck %}
                                        <div>
                                            <a title="Delete this Emission Check" href="{% url 'delete-check' check.title.slug check.id%}" class="btn btn-icon-red-small"><i class="fa-solid fa-trash-can" onclick="confirmAction(event)"></i></a>
                                        </div>
                                        {% endif %}
                                    </div>
                            </td>
                            <td class="status-cell"><p>{{ check.title.calculate_status }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <!-- Modal -->
    
    <div class="modal fade" id="emissionModal" tabindex="-1" role="dialog" aria-labelledby="emissionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="emissionModalTitle">Modal title</h4>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body" id="emissionModalBody">
            ...
          </div>
          <div class="modal-footer">
            <a href="${checkEmissionUrl}" class="btn" id="emission-check-a"></a>
            <a href="${allEmissionsUrl}" class="btn" id="emission-edit-a">Edit {{check.title}} Emission Check</a>
          </div>
        </div>
      </div>
    </div>
          </div>
    </section>
{% endblock%}