{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid p-0 hero">
        <div class="row home-row">
            <div class="col-md-6 offset-md-6 col-lg-5 offset-lg-7 mt-lg-5 mt-md-5 custom-welcome-body border">
                <h3 class="hidden-home">Welcome to the </h3>
                <h4 class="hidden-home">emissions <i class="fa-solid fa-droplet"></i> monitoring tool</h4>
                <p class="hidden-home">Your one stop shop for mangaging emissions on your facility.</p>
                <p class="hidden-home">With this tool you can:</p>
                <ul>
                    <li>
                        <div class="list-icons"><i class="fa-solid fa-cloud-arrow-up"></i>
                        </div>
                        <div class="list-text">
                            <p>Store all emissions data in the cloud</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icons">
                            <i class="fa-solid fa-clipboard-list"></i>
                        </div>
                        <div class="list-text">
                            <p>Provide a means of recording assurance checks</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icons">
                            <i class="fa-solid fa-handshake-simple"></i>
                        </div>
                        <div class="list-text">
                            <p>Enable operators to complete their monitoring
                                with ease</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icons">
                            <i class="fa-brands fa-watchman-monitoring"></i>
                        </div>
                        <div class="list-text">
                            <p>Manangement/supervision confidence
                                through simple surveillance</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </figure>
    </div>
</section>
{% endblock%}