{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid hero">
        <div class="card home-card md-4 offset-md-6">
            <div class="card-body custom-card-body rounded border border-3">
                <h3>Welcome to the </h3> 
                <h4>emissions <i class="fa-solid fa-droplet"></i>  monitoring tool</h4>
                <p>Your one stop shop for mangaging emissions on your facility, with the facility to:</p>
                <ul>
                    <li>Storing all emissions data in the cloud</li>
                    <li>Provide a means of recording assurance checks</li>
                    <li>Enable operators to complete their checks with ease.</li>
                </ul>
            </div>
          </div>
        </figure>
    </div>
</section>
{% endblock%}