{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid hero">
        <div class="card home-card md-3 offset-md-7">
            <div class="card-body custom-card-body border border-3">
                <h3>Welcome to the </h3> 
                <h4>emissions <i class="fa-solid fa-droplet"></i>  monitoring tool</h4>
                <p>Your one stop shop for mangaging emissions on your facility</p>
                <p>The tool allows you to:</p>
                <ul>
                    <li>Store all emissions data in the cloud</li>
                    <li>Provide a means of recording assurance checks</li>
                    <li>Enable operators to complete their monitoring with ease.</li>
                    <li>Give manangement/supervision confidence through simple surveillance.</li>
                </ul>
            </div>
          </div>
        </figure>
    </div>
</section>
{% endblock%}